@import "/src/utils/base.scss";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  background-color: $primary_200;
  width: 100%;
}

.logo-container {
  width: 220px;
  height: 100%;
  border-right: solid 2px white;
  border-bottom: solid 2px white;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: rgba($color: #000, $alpha: 0.8);
  padding: 0 10px;
  height: 100%;
  line-height: 60px;
  -webkit-user-select: none;
  user-select: none;
}

.navbar-container {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  box-shadow: 10px 5px 20px 0px rgba(0, 0, 0, 0.2);
}

.logout {
  margin-right: 20px;
  color: $primary_900;
  cursor: pointer;
  transition: filter 0.2s;
}

.logout:hover {
  filter: brightness(85%);
}
