.rectangle {
  width: 13rem;
  height: 6rem;
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: filter 0.2s;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rectangle:hover {
  filter: brightness(85%);
}

.rectangle + .rectangle {
  // margin-left: 50px;
}

.title {
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  margin-left: 30px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.quantity-container {
  display: flex;
  margin-left: 30px;
}

.icon {
  font-size: 1.6rem;
  color: white;
  margin-right: 20px;
}

.quantity {
  font-size: 1.4rem;
  color: white;
  font-weight: 700;
  align-self: center;
}

.circle1 {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  background-color: rgba($color: white, $alpha: 0.25);
  position: absolute;
  top: -40px;
  right: -70px;
}

.circle2 {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  background-color: rgba($color: white, $alpha: 0.25);
  position: absolute;
  bottom: -50px;
  right: -20px;
}
