@import "/src/utils/base.scss";

.statistics-table {
  background-color: $primary_200;
  border-radius: 1.25rem;
  width: 100%;
}

.statistics-table-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 1.5rem;
}
