@import "/src/utils/base.scss";

.item-container {
  display: flex;
  align-items: center;
  margin: 1.2rem;
  width: 18rem;
  height: 5rem;
}

.icon {
  font-size: 2.5rem;
  color: $primary_50;
  border-radius: 100%;
  width: 4.25rem;
  height: 4.25rem;
  line-height: 4.25rem;
  text-align: center;
  margin-right: 1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.data {
  font-size: 2rem;
  font-weight: bold;
}
