@import "/src/utils/base.scss";

.layout {
  width: 100%;
  min-height: 100vh;
  min-width: 1200px;
  background-color: $primary_50;
}

.container {
  display: flex;
}

.content {
  margin: 0 50px 50px 50px;
  width: 100%;
}
